{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set title = "Edit Section: " ~ section.name %}
{% set selectedSubnavItem = 'content' %}
{% set textFieldOptions = [{label: 'Custom Text', value: 'custom'}, {label: '--- Fields ---', disabled: true}]|merge(textFields) %}
{% block content %}
    <form method="post" accept-charset="UTF-8">
        {{ csrfInput() }}
        <input type="hidden" name="action" value="llmify/content/save-section-settings">
        <input type="hidden" name="sectionId" value="{{ section.id }}">
        {{ actionInput('llmify/content/save-section-settings') }}
        {{ redirectInput('llmify/content') }}
        {% if settings.id %}{{ hiddenInput('contentId', settings.id) }}{% endif %}

        {{ forms.selectField({
            label: 'Entry Default Title Source',
            id: 'llmTitleSource',
            name: 'llmTitleSource',
            options: textFieldOptions,
            value: settings.llmTitleSource ?? 'custom'
        }) }}

        {{ forms.textField({
            label: 'Entry Default Title',
            id: 'llmTitle',
            name: 'llmTitle',
            value: settings.llmTitle ?? ''
        }) }}

        {{ forms.selectField({
            label: 'Entry Default Description Source',
            id: 'llmDescriptionSource',
            name: 'llmDescriptionSource',
            options: textFieldOptions,
            value: settings.llmDescriptionSource ?? 'custom'
        }) }}

        {{ forms.textField({
            label: 'Entry Default Description',
            id: 'llmDescription',
            name: 'llmDescription',
            value: settings.llmDescription ?? ''
        }) }}

        <div class="flex-grow"></div>
        <button type="submit" class="btn submit">Save settings</button>
    </form>
{% endblock %}
