{% import "_includes/forms" as forms %}
<h2>Generated Markdowns</h2>
{% set cols = {
  heading: {
    type: 'heading',
    heading: "Site",
  },
  pages: {
    type: 'html',
    heading: "Markdowns",
  },
} %}

{% set rows = [] %}
{% for site in markdownTable %}
  {% set rows = rows|merge([{
    heading: site.name,
    pages: site.pageCount|number,
  }]) %}
{% endfor %}

{{ forms.editableTableField({
  name: 'markdowns',
  id: 'markdowns',
  cols: cols,
  rows: rows,
  staticRows: true,
}) }}

<h2>Actions</h2>

<form class="utility" method="post" accept-charset="UTF-8">
  {{ actionInput('llmify/markdown/generate') }}
  {{ redirectInput('utilities/llmify') }}
  {{ csrfInput() }}
  <p>Generate Markdown for all Pages</p>
  <button type="submit" class="btn submit">Generate</button>
</form>

<form class="utility" method="post" accept-charset="UTF-8">
  {{ actionInput('llmify/markdown/clear') }}
  {{ redirectInput('utilities/llmify') }}
  {{ csrfInput() }}
  <p>Clear Markdown for all Pages</p>
  <button type="submit" class="btn submit">Clear Markdown</button>
</form>
